@{
    ViewData["Title"] = "Task Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div>
    <ul>
        <li>
            Task 1:
            <ul>
                <li>Complete Product View</li>
                <li>Add Error Handling</li>
                <li>Add Javascript user input validation</li>
            </ul>
        </li>

        <li>
            Task 2:
            <ul>
                <li>Complete Purchase View</li>
                <li>Add Error Handling </li>
                <li>Add Javascript user input validation</li>
            </ul>
        </li>

        <li>
            Task 3:
            <ul>
                <li>Resolve the errors on Supplier Update and Delete</li>
            </ul>
        </li>

        <li>
            Task 4:
            <ul>
                <li>Optimise a Stored Procedure for Purchase Order Report. Look at amending the stored procedure to improve performance.</li>
            </ul>
        </li>

    </ul>
</div>
